{% assign announcement_text = block.settings.announcement_text %}
{% assign background_color = block.settings.background_color %}
<div style="background-color:{{ background_color }}; padding: 10px; text-align: center;">
  <span>{{ announcement_text }}</span>
</div>

{% schema %}
{
  "name": "Premium Faq",
  "target": "section",
  "available_if": "{{ app.metafields.applicationInstallation.premium_faq}}",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "Your announcement text here"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
